
  <h1>Editing client</h1>

  <%= render "form", client: @client %>

  <br>

<%# 
    <= link_to "Show this client", @client ,class:"btn btn-outline-primary" &nbsp
    <%# <= link_to "Back to clients", clients_path,class:"btn btn-outline-secondary"  %>
       <%# moved to form.html %>


  <style>
    .btn-outline-primary{
          border-color: deepskyblue;
          color:grey;
    }
    .btn-outline-secondary{
          border-color: deepskyblue;
    }
  </style>
</div>