<h1> Add a New client</h1>
<%= render "form", client: @client %>
<br>
<%# <= link_to "Back to clients", clients_path , class:"btn btn-outline-secondary ">


<style>
  .btn-outline-secondary{
        border-color: deepskyblue;
  }
</style> %>