<div>
 <marquee direction="right" scrollamount="30"><h1 style="text-align:center  " class="Border"> COVID-19 Resources</h1> </marquee>
</div>
<br>
<img src="https://files.labcorp.com/labcorp-d8/2022-02/IMG_0489.jpg" alt="Girl in a jacket" width="350" height="350">
<img src="https://files.labcorp.com/labcorp-d8/2022-01/GettyImages-529400811_0.jpg"width="350" height="350">
<img src="https://files.labcorp.com/labcorp-d8/2022-01/GettyImages-1161549955_0.jpg"width="350" height="350">

<div>
  
  <br>
   <h3> 
        <ul>
            <li>Together, we’re working to put people first.</li>
            <li>Discover our latest innovations in drug development.</li>
        </ul> 
   </h3>
  <p>
    We look to the future and work tirelessly to test new drugs, 
    treatments and therapies. Labcorp supports the development of pharmaceutical products in approximately 100 countries,
    generating more clinical trial data than any other company.
 </p>

</div>